.giraffe {
  border-radius: 500px;
  height: 50px;
}
.navbar {
  background-color: rgb(252, 252, 248);
  position: sticky;
}
.btn {
  background-color: rgb(238, 142, 142) !important;
}
#search {
  color: white;
}
.lang {
  /* background-color: rgb(238, 142, 142); */
  color: rgb(238, 142, 142) !important;
  border-color: rgb(238, 142, 142) !important;
}
